{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <div class="w-full flex items-center justify-between space-x-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-3">
                            <h3 class="text-3xl text-gray-900 font-medium truncate">{{ lead.First_Name }} {{ lead.Last_Name }}</h3>
                        </div>
                        <p class="mt-1 text-xl text-gray-500 truncate">{{ lead.description }}</p>
                    </div>
                    {% for d in document %}    
                    {% if d.photo %}
                    <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="{{ d.photo.url }}" alt="">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="flex mb-4">
                    <a href="{% url 'sales:sale-detail' lead.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                        Overview
                    </a>
                    
                    {% if lead.category.name != "Card Out" or lead.category.name != "Declined" or lead.category.name != "Logged in" %}             
                    <a href="{% url 'sales:lead-category-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        Category
                    </a>
                    <a href="{% url 'sales:sale-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        Update Details
                    </a>
                    {% endif %}    
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Application Type</span>
                    <span class="ml-auto text-gray-900">{{ lead.Application_Type }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Bank Name</span>
                    <span class="ml-auto text-gray-900">{{ lead.Bank_Name }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Father Name</span>
                    <span class="ml-auto text-gray-900">{{ lead.Father_Name }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Mother Name</span>
                    <span class="ml-auto text-gray-900">{{ lead.Mother_Name }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Date of Birth</span>
                    <span class="ml-auto text-gray-900">{{ lead.Date_of_Birth }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Pan Number</span>
                    <span class="ml-auto text-gray-900">{{ lead.PAN_Number }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Company Name</span>
                    <span class="ml-auto text-gray-900">{{ lead.Company_Name }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Designation</span>
                    <span class="ml-auto text-gray-900">{{ lead.Designation }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Office Address</span>
                    <span class="ml-auto text-gray-900">{{ lead.Office_Address }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Current Residence Address</span>
                    <span class="ml-auto text-gray-900">{{ lead.Current_Residence_Address }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Permanent Residence Address</span>
                    <span class="ml-auto text-gray-900">{{ lead.Permanent_Residence_Address }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Personal Email</span>
                    <span class="ml-auto text-gray-900">{{ lead.Personal_Email }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Alternate Phone Number</span>
                    <span class="ml-auto text-gray-900">{{ lead.Alternate_Phone_Number }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Official Email</span>
                    <span class="ml-auto text-gray-900">{{ lead.Official_Email }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Application Number</span>
                    <span class="ml-auto text-gray-900">{{ lead.Application_Number }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Agent</span>
                    <span class="ml-auto text-gray-900">{{ lead.agent }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Last Update</span>
                    <span class="ml-auto text-gray-900">{{ lead.updated_by }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Remarks</span>
                    <span class="ml-auto text-gray-900">{{ lead.remarks }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Category</span>
                    <span class="ml-auto text-gray-900">{{ lead.category.name }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Created Date</span>
                    <span class="ml-auto text-gray-900">{{ lead.Created_at }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Last Updated On</span>
                    <span class="ml-auto text-gray-900">{{ lead.Last_Upated }}</span>
                </div>

            </div>

        </div>
        {% if document.exists %} 
           
            {% for d in document %}
                 <a href="{% url 'docs:doc-detail' d.pk %}" class="text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">View Documents</a>
                
                
            {% endfor %}
                
        {% else %}
            <a href="{% url 'sales:documents-update' lead.pk %}" class="text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Add Documents</a>
            
        {% endif %}   
    </div>
  </section>
{% endblock content %}